.footer {
    background-color: #9ea9f0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footerItems {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.footerLink {
    list-style: none;
}

.footerIcon {
    max-width: 30px;
    font-size: 2em;
    color: #553c8b;
}

.footerIcon:hover {
    color: #ffeafe;
}