* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffeafe;
}

.main-header {
  margin: 20px;
  font-family: 'Abril Fatface', cursive;
  color: #553c8b;
  font-size: 2em;
}

#photoContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}

.photo {
  flex-basis: 20%;
  margin: 10px auto;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 10px 0;
}

.photo:hover {
  /* background-color: #ccc1ff; */
  background-image: linear-gradient(#553c8b, #9ea9f0);
}

.photo__title {
  word-wrap: break-word;
  font-size: .85em;
  width: 150px;
  font-family: 'Raleway', sans-serif;
  color: #553c8b;

}